@{
    ViewBag.Title = "Hakkımda";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p> <a href="https://devrimmehmet.com/"> Kişisel Portfolyo Sitem.</a> </p>
<p> <a href="https://ramazanbey.devrimmehmet.com/dmp.pdf" style="color:red"> Özgeçmişim(CV).</a> </p>
