@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<address>
    <strong>Gmail:</strong>   <a href="mailto:devrimmehmet@gmail.com" style="color:red">devrimmehmet@gmail.com</a><br />
    <strong>Mail:</strong> <a href="mailto:Marketing@example.com" >pattabanoglu@devrimmehmet.com</a>
</address>