@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="jumbotron">
    <h1>Ramazan Bey tarafından verilen Task Çalışması</h1>
    <p class="lead">Bu proje Ramazan Akpınar tarafından tarafıma verilmiş olup, bir işe giriş taskıdır.Çalışma açık kaynaklı bir şekilde yapılmıştır.</p>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/uYfKTlQpRco" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>
    <p><a href="/home/about" class="btn btn-primary btn-lg">Daha Fazla &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Github Sayfası</h2>
        <p>
            Bu projeye ait bütün kodlar github sayfamda yayınlanmıştır.
        </p>
        <p><a class="btn btn-default" href="https://github.com/devrimmehmet/IsBasvuruTaski">Daha Fazla  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Yayınlanmış Proje</h2>
        <p>Bu task canlıya alınmıştır. Denemek için Tıklayabilirsiniz.</p>
        <p><a class="btn btn-default" href="/home/about">Daha Fazla &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Taskın yapım aşamaları</h2>
        <p>Bu taskın yapım aşamaları videoya alınmış olup hepsi yayınlanmıştır. İnceleyebilirsiniz. </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=Zgy5omzI9rA">Daha Fazla &raquo;</a></p>
    </div>
</div>